:root {
  --dim-gray: #6A6C78ff;
  --silver-lake-blue: #6489BEff;
  --oxford-blue: #202738ff;
  --columbia-blue: #B7CDE1ff;
  --wenge: #fff;
}

body {
  background-color: var(--columbia-blue);
  color: var(--wenge);
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--silver-lake-blue);
  padding: 20px;
}

.game-container {
  background-color: var(--oxford-blue);
  border: 2px solid var(--dim-gray);
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

  