:root {
  --dim-gray: #6A6C78ff;
  --silver-lake-blue: #6489BEff;
  --oxford-blue: #202738ff;
  --columbia-blue: #B7CDE1ff;
  --wenge: #564644ff;
}

.character-selection {
  text-align: center;
  padding: 20px;
  background-color: var(--columbia-blue);
  color: var(--wenge);
}

.character-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.character-box {
  border: 1px solid var(--dim-gray);
  margin: 10px;
  padding: 10px;
  width: auto; /* Adjust as needed */
  text-align: center; /* Center content horizontally */
  transition: transform 0.3s ease;
  background-color: var(--silver-lake-blue);
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
}

.character-box:hover {
  transform: scale(1.1);
  background-color: var(--oxford-blue);
}

.character-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.character-image {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.character-name {
  display: block;
  margin-top: 5px;
}

.character-header {
  font-size: 1.5em;
  color: var(--oxford-blue);
  margin: 20px auto; /* Center the box horizontally */
  text-align: center;
  font-weight: bold;
  border: 2px solid var(--dim-gray);
  padding: 10px;
  background-color: var(--silver-lake-blue);
  width: 95%; /* Increase the width to make the box wider */
  max-width: 800px; /* Optional: Increase the maximum width if needed */
  display: block; /* Make sure the box is treated as a block-level element */
}





  
  
  